body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #7debcd;
    padding: 20px;
    text-align: center;
}

.Encabezado {
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000;
}

.Encabezado .p{
    text-decoration: none;
    color: #000;
}




.logos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
    gap: 10px;
    width: 30px;
    height: 30px;
}

.Logo-IG, .Logo-GMAIL {
    width: 21px;
    height: 21px;
}

main {
    padding: 50px;
    background-color: #ffffff;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; 
}

.text-content {
    max-width: 45%;
    flex: 1 1 100%;
}

.text-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333333;
}

.text-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666666;
}

.image-content {
    max-width: 50%;
    text-align: center;
    flex: 1 1 100%; 
}

.image-content img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.WhatsApp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.WhatsApp-icon img {
    width: 50px;
    height: 50px;
}

footer {
    min-height: 70px;
    background-color: #7debcd;
    color: #000;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;  
}


@media (max-width: 768px) {
    .about-section {
        padding: 20px;
    }

    .text-content h2 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .about-section {
        padding: 10px;
    }

    .text-content h2 {
        font-size: 1.5em;
    }

    .text-content p {
        font-size: 0.9em;
    }
}
